/* Color Theme Swatches in Hex */
.ProyectoBD1---3-1-hex { color: #41889E; }
.ProyectoBD1---3-2-hex { color: #9CE8FF; }
.ProyectoBD1---3-3-hex { color: #70D2ED; }
.ProyectoBD1---3-4-hex { color: #9F341E; }
.ProyectoBD1---3-5-hex { color: #EA8267; }

/* Color Theme Swatches in RGBA */
.ProyectoBD1---3-1-rgba { color: rgba(65, 136, 158, 1); }
.ProyectoBD1---3-2-rgba { color: rgba(156, 232, 255, 1); }
.ProyectoBD1---3-3-rgba { color: rgba(112, 210, 237, 1); }
.ProyectoBD1---3-4-rgba { color: rgba(159, 52, 30, 1); }
.ProyectoBD1---3-5-rgba { color: rgba(234, 130, 103, 1); }