body{
    background-color: #70D2ED;
}

.form-styles{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
}

.form-styles form{
    border-radius: 5px;
    transition: box-shadow .3s ease-in-out;
    background-color: aliceblue;
    border: 1px solid #70D2ED;
}

.navbar-styles{
    background-color: #70D2ED;
}

.sign_in-styles{
    background-color: #9F341E;
    color: white;
}

.log_in-styles{
    background-color: #9F341E;
    color: white;
}

.btn-options-styles{
    background-color: none;
    color: white;
}

.btn-options-styles:hover{
    color: #9F341E;
}

.log_in-styles:hover{
    box-shadow: 3px 3px 5px gray;
    border: .5px solid #EA8267;
    color: #9F341E;
}

.sign_in-styles:hover{
    box-shadow: 3px 3px 5px gray;
    border: .5px solid #EA8267;
    color: #9F341E;
}

.form-styles form:hover{
    box-shadow: 0px 0px 10px gray;
}

.imagen-styles{
    background-color: white;
    box-shadow: 0px 0px 10px gray;
}

.imagen-styles div img{
    width: 100%;
    height: auto;
}