#homeLink{
    color: white;
}

#reserveBlock{
    height : 40vh;
    width : 50vw;
    margin-top: 5vw;
    margin-left: 25vw;
    background-color : #31362F !important;
}
 
#lugarRecogida{
    width: 275px;
}

#lugarEntrega{
    width: 275px;
}

#inputFechaRecogida{
    width: 125px;
    font-size: 15px;

}

#inputFechaEntrega{
    width: 125px;
    font-size: 15px;
}

#inputHoraRecibido{
    width: 130px;
    font-size: 15px;
}

#inputHoraEntrega{
    width: 130px;
    font-size: 15px;
}

#pLugarRecogida{
    top: 75px;
    left:65px;
}

#pLugarEntrega{
    top: 75px;
    left: 410px;
}

#pDiaRecogida{
    top: 160px;
    left:65px;
}

#pDiaEntrega{
    top: 160px;
    left: 200px;
}

#iSearch{
    bottom: 30px;
    right: 80px;
}
