<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/infoUser.css" />
  </head>
  <body>
    <div class="container-fluid navbar-styles">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h1>Perfil</h1>
        </div>
      </div>
    </div>
    <div class="cliente">
      <div class="container">
        <div class="row p-3 mt-5 mb-5 cliente-info-stles">
            <!-- Sección Info Cliente -->
          <div class="col-12"><h2>Cliente</h2></div>
          <div class="col-4" id="nombreCliente"></div>
          <div class="col-4" id="apellidoCliente"></div>
          <div class="col-4" id="emailCliente"></div>
          <div class="col-4" id="telCliente"></div>
          <div class="col-4" id="dniCliente"></div>
          <div class="col-4" id="licenciaCliente"></div>
        </div>
        <div class="row p-3 mt-5 mb-5 cliente-info-stles">
            <!-- Seccion de órdenes activas -->
          <div class="col-7 p-3">
            <h2>Órdenes Activas</h2>
            <table class="table-styles">
              <thead>
                <tr>
                  <th>OrdenID</th>
                  <th>Vehículo</th>
                  <th>Fecha de Inicio</th>
                  <th>Fecha de Entrega Prevista</th>
                </tr>
              </thead>
              <tbody id="tbody"></tbody>
            </table>
          </div>
          <div class="col-1"></div>
          <!-- Seccion de Tarjetas -->
          <div class="col-4 p-3">
            <h2>Tarjetas</h2>
            <table class="table-styles">
              <tr>
                <th>Tipo Tarjeta</th>
                <th>No. Tarjeta</th>
                <th>Acción</th>
              </tr>
              <tbody id="cuerpo-tabla-tarjetas-credito"></tbody>
            </table>
            <div class="row p-3 mt-1 mb-1">
              <button id="abrirAtributosTarjeta" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#modalAtributosTarjeta">Agregar Tarjeta</button>
            </div>
          </div>
        </div>
        <!-- Sección de órdenes finalizadas -->
        <div class="row p-3 mt-5 mb-5 cliente-info-stles">
            <h2>Historial de Órdenes</h2>
            <table class="table-styles">
              <tr>
                <th>OrdenID</th>
                <th>Vehículo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Entrega Prevista</th>
              </tr>
              <tbody id="cuerpo-tabla-ordenes-finalizadas"></tbody>
            </table>
        </div>
        <div class="row p-3 mt-5 mb-5">
          <button id="newOrder" class="btn btn-lg btn-nueva-orden">Nueva Órden</button>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modalAtributosTarjeta" tabindex="-1" aria-labelledby="atributosTarjetaLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="atributosTarjetaLabel">Agregar Tarjeta</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="bodyAtributosTarjeta">
                  ...
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button id="agregarTarjeta" type="button" class="btn btn-success">Save changes</button>
              </div>
          </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
    <script src="../js/controller-infoUser.js"></script>
  </body>
</html>
