<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Vehículo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/selectAuto.css">
</head>
<body>
    <div class="container-fluid navbar-styles">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1>Seleccionar Vehículo</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 mb-5 cliente-info-stles">
            <div class="col-6 d-flex justify-content-center p-2">
                <img class="img-styles" src="../assets/img/coche1.png" alt="">
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12"><h2>Información</h2></div>
                    <div class="col-12"><p><b>Marca:</b> Kia</p></div>
                    <div class="col-12"><p><b>Modelo:</b> Picanto</p></div>
                    <div class="col-12"><p><b>Tipo:</b> Económico</p></div>
                    <div class="col-12"><p><b>Precio:</b> $25 por día</p></div>
                    <div class="col-12"><p><b>Combustible </b>Regular</p></div>
                </div>
            </div>
            <div class="col-3 text-center d-flex align-items-center">
                <button type="button" class="btn btn-styles m-auto">Reservar</button>
            </div>
        </div>
        <div class="row mt-5 mb-5 cliente-info-stles">
            <div class="col-6 d-flex justify-content-center p-2">
                <img class="img-styles" src="../assets/img/coche1.png" alt="">
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12"><h2>Información</h2></div>
                    <div class="col-12"><p><b>Marca:</b> Kia</p></div>
                    <div class="col-12"><p><b>Modelo:</b> Picanto</p></div>
                    <div class="col-12"><p><b>Tipo:</b> Económico</p></div>
                    <div class="col-12"><p><b>Precio:</b> $25 por día</p></div>
                    <div class="col-12"><p><b>Combustible </b>Regular</p></div>
                </div>
            </div>
            <div class="col-3 text-center d-flex align-items-center">
                <button type="button" class="btn btn-styles m-auto">Reservar</button>
            </div>
        </div>
        <div class="row mt-5 mb-5 cliente-info-stles">
            <div class="col-6 d-flex justify-content-center p-2">
                <img class="img-styles" src="../assets/img/coche1.png" alt="">
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12"><h2>Información</h2></div>
                    <div class="col-12"><p><b>Marca:</b> Kia</p></div>
                    <div class="col-12"><p><b>Modelo:</b> Picanto</p></div>
                    <div class="col-12"><p><b>Tipo:</b> Económico</p></div>
                    <div class="col-12"><p><b>Precio:</b> $25 por día</p></div>
                    <div class="col-12"><p><b>Combustible </b>Regular</p></div>
                </div>
            </div>
            <div class="col-3 text-center d-flex align-items-center">
                <button type="button" class="btn btn-styles m-auto">Reservar</button>
            </div>
        </div>
        <div class="row mt-5 mb-5 cliente-info-stles">
            <div class="col-6 d-flex justify-content-center p-2">
                <img class="img-styles" src="../assets/img/coche1.png" alt="">
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12"><h2>Información</h2></div>
                    <div class="col-12"><p><b>Marca:</b> Kia</p></div>
                    <div class="col-12"><p><b>Modelo:</b> Picanto</p></div>
                    <div class="col-12"><p><b>Tipo:</b> Económico</p></div>
                    <div class="col-12"><p><b>Precio:</b> $25 por día</p></div>
                    <div class="col-12"><p><b>Combustible </b>Regular</p></div>
                </div>
            </div>
            <div class="col-3 text-center d-flex align-items-center">
                <button type="button" class="btn btn-styles m-auto">Reservar</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>