<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista - Empleados</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/estilos.css">
    <link rel="stylesheet" href="./styles/estilos.css">
</head>


<body class="family-font">

    <header id="encabezado-pc" class="family-font">
        <p class="big-titulo">GearShift rent a car</p>
    </header>

    <main id="vista-especifica-editar">
        <div class="contenedor-especifico family-font sub-titulo">
            <a href=""><img src="../img/volver.png" alt="" style="width: 50px; height: 50px;"></a>
            Volver al menu general de vistas 
            <br>
            <br>
            <p class="titulo">Informacion de los empleados</p>
        </div>

        <section>
            <div class="info-contenedor ">
                <p class="titulo">Empleado:</p>

                <div class="container">

                    <div class="row align-items-start">
                        <div class="col ">
                            Identificador del emplado:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="codigo">
                        </div>
                        <div class="col ">
                            Numero de identidad: <br>
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="identidad">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-start">
                        <div class="col ">
                            Nombre:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="nombre">
                        </div>

                        <div class="col ">
                            Apellido:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="apellido">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-start">
                        <div class="col ">
                            Usuario:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="usuario">
                        </div>
                        <div class="col ">
                            Telefono:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="telefono">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-start">
                        <div class="col ">
                            Direccion:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="direccion">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-start">
                        <div class="col ">
                            Sueldo:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="sueldo">
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="info-contenedor ">
                <p class="titulo">Puesto asociado:</p>

                <div class="container">
                    <div class="row align-items-start">
                        <div class="col ">
                            Codigo del puesto:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="codigo2">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-start">
                        <div class="col ">
                            Nombre del puesto:
                            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled id="nombre2">
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    
    </main>

    <script src="../js/controller-empleados.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>

</html>